# Snowflake connection
ACCOUNT=your_account_id
USER=your_username
JWT_TOKEN=your_jwt_token
WAREHOUSE=your_warehouse_name
DATABASE=your_database_name
SCHEMA=your_schema_name
ROLE=your_role_name

# Google Sheets public export
GOOGLE_SERVICE_ACCOUNT_JSON=
GOOGLE_SHEET_ID=your_google_spreadsheet_id
GOOGLE_SHEET_NAME=MLB_Mashup_Tableau
